<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>School Applications</title>
  </head>
  <body>
    <h1>School Applications</h1>
    <a href="/teachers"><button type="button" name="button">Teachers</button></a>
    <a href="/subjects"><button type="button" name="button">Subjects</button></a>
    <a href="/students"><button type="button" name="button">Students</button></a>
  </body>
</html>
