<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
    <style media="screen">
      .container{
        width: 300px;
      }
      h5{
        color: red;
      }

    </style>
  </head>
  <body>
    <h1 align="center"><strong>School Applications</strong></h1><br><br>
    <div class="container">
      <h2 align="center">Login</h2>
      <%if (pesanError!=''){%>
      <h5 align="center"><%=pesanError%></h5>
      <%}%>
      <form class="form" action="/login" method="post">
        <div class="form-group">
          <label>User Name:</label>
          <input class="form-control" type="text" name="username" value="<%=user.username%>" placeholder="user name">
        </div>
        <div class="form-group">
          <label>Passwor:</label>
          <input class="form-control" type="password" name="password" value="<%=user.password%>" placeholder="password">
        </div>
        <button class="btn btn-primary" type="submit" name="button">Login</button>
        <a href="/login/register">Register</a>
      </form>
    </div>
  </body>
</html>
